In [1]:
#Module 
import csv 
import numpy as np
import pandas as pd

In [2]:
#Create the Path to the file 
Poll = "../Resources/election_data.csv"

In [3]:
#Read in the CSV using data frame 
Poll_pd = pd.read_csv(Poll)
Poll_pd.head(10)

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan
5  19014606  Marsh        Li
6  17775191  Queen    Correy
7  14003692  Marsh      Khan
8  14255761  Marsh      Khan
9  13870173  Marsh    Correy

In [4]:
#Count of total votes 
Votes = len(Poll_pd["Voter ID"])
print("Total Votes:" +str(Votes))

Total Votes:3521001

In [5]:
#Percent of Total Votes earned by each candidate 
Percent = Poll_pd["Candidate"].value_counts(normalize=True).sort_index()
Percent

Correy      0.20
Khan        0.63
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [6]:
#Convert the results into Percentage
Percent.map("{:0.2%}".format)

Correy      20.00%
Khan        63.00%
Li          14.00%
O'Tooley     3.00%
Name: Candidate, dtype: object

In [7]:
#Drop unwanted columns 
Poll_pd.drop(["County"], axis=1, inplace=True)
Poll_pd.head()

   Voter ID Candidate
0  12864552      Khan
1  17444633    Correy
2  19330107      Khan
3  19865775      Khan
4  11927875      Khan

In [8]:
#To Identify the Winner of the election use 
Winner = Poll_pd.nlargest(1, ["Voter ID"])
Winner

         Voter ID Candidate
3265693  19999998      Khan