In [1]:
#Dependecies 
import pandas as pd
import csv

In [2]:
#The path to the data file 
data_file = "../Resources/budget_data.csv"

In [3]:
#Use pandas to read a csvfile 
data_file_pd = pd.read_csv(data_file)
data_file_pd.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
#How to find the length of months within the data file 
Summary = len(data_file_pd["Date"])
print("Total Months:" +str(Summary))

Total Months:86

In [5]:
#How to Calculate Total Revenue
Total = data_file_pd["Profit/Losses"].sum()
print("Total Revenue:" +str(Total))

Total Revenue:38382578

In [6]:
#Create a new file to show the difference between rows
data_file_pd["Difference"] = data_file_pd["Profit/Losses"].diff()
data_file_pd.head()

       Date  Profit/Losses  Difference
0  Jan-2010         867884         NaN
1  Feb-2010         984655    116771.0
2  Mar-2010         322013   -662642.0
3  Apr-2010         -69417   -391430.0
4  May-2010         310503    379920.0

In [7]:
#Calculate Average Revenue
Average = data_file_pd["Difference"].mean()
print("Average Change in Revenue:", +int(Average))

Average Change in Revenue: -2315

In [8]:
#Drop the profit/losses column
data_file_pd.drop(["Profit/Losses"], axis=1, inplace=True)
data_file_pd

        Date  Difference
0   Jan-2010         NaN
1   Feb-2010    116771.0
2   Mar-2010   -662642.0
3   Apr-2010   -391430.0
4   May-2010    379920.0
..       ...         ...
81  Oct-2016   -665765.0
82  Nov-2016    693229.0
83  Dec-2016   -734926.0
84  Jan-2017     77242.0
85  Feb-2017    532869.0

[86 rows x 2 columns]

In [9]:
#Find the greatest increase in Revenue 
Greatest_Increase_in_Revenue = data_file_pd.nlargest(1, ["Difference"])
Greatest_Increase_in_Revenue

        Date  Difference
25  Feb-2012   1926159.0

In [10]:
#Finding the greatest decrease in Revenue
Greatest_Decrease_in_Revenue = data_file_pd.nsmallest(1, ["Difference"])
Greatest_Decrease_in_Revenue

        Date  Difference
44  Sep-2013  -2196167.0